body{
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-weight: lighter;
}
.nav {
    display: flex;
    justify-content: space-around;
    height: 80px;
}
.leftNav{
    display: flex;
    justify-content: center;
    width: 30%;
    align-items: center;
    color: #0065F8;
    font-size:30px
}
.sideNav{
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    /* background-color: green; */
    align-items: center;
}
.navOption:hover{
    color: #0065F8;
    cursor:pointer
    
}
.navOption{
    height: 20px;
    color: black;
}
.download{
    padding: 6px;
    border-radius: 8px;
    background-color: white;
    border-width: 2px;
    border:2px solid whitesmoke;
    font-size: 15px;
}
.download:hover{
  cursor: pointer;
}
.image-section{
    height: 80vh;
    background-color: black;
    background: url(kidReading.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.seek{
    height: 100px;
    width: 70%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
    align-items: center;
}
.seek-property{
    height: 60%;
    border-radius: 10px;
    border:2px solid rgb(240, 240, 240);
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.seek-button{
    cursor: pointer;
    background-color: #0065F8;
    height: 40px;
    width: 80px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white
}
.seek-button:hover{
    background-color: darkblue;
}
.register-popupContainer{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.register-popup{
    background-color: rgb(3, 3, 94);
    width: 80%;
    height: 70px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    color:white
}
.register-button{
    height:30px;
    border-radius: 10px;
    background-color: #0065F8;
    display: flex;
    align-items: center;
    padding-right: 6px;
    padding-left: 6px;
    font-size: small;
}
.container-accomodations h1{
    font-weight: 100;
    font-size: x-large;
}