body{
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-weight: lighter;
}
.nav {
    display: flex;
    justify-content: space-around;
    height: 80px;
}
.leftNav{
    display: flex;
    justify-content: center;
    width: 30%;
    align-items: center;
    color: skyblue;
    font-size:30px
}
.sideNav{
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    /* background-color: green; */
    align-items: center;
}
.navOption:hover{
    color: skyblue;
    cursor:pointer
    
}
.navOption{
    height: 20px;
    color: black;
}
.download{
    padding: 6px;
    border-radius: 8px;
    background-color: white;
    border-width: 2px;
    border-color: whitesmoke;
    font-size: 15px;
}
.download:hover{
  cursor: pointer;
}
.image-section{
    height: 80vh;
    background-color: black;
    background: url(kidReading.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.seek{
    height: 100px;
    width: 70%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
}
.seek-property{
    height: 80%;
    background-color: white;
    border: black;
}